.ant-carousel {
    width: 90%;
    margin: auto;

}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    background: #364d79;
    overflow: hidden;
  }


.ant-carousel .slick-slide h3 img{
    height:100%;
    width:100%;
}

.content-divide {
    width: 90%;
    margin:auto
}

.TableStyle {
    width: inherit;
    text-align: center;
}

